<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <!--[if lt IE 9]>
            <script src="@Url.Content("~/Scripts/Lib/Vendor/HTML5/json2.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/Lib/Vendor/HTML5/html5shiv.js")"></script>
        <![endif]-->

        @Styles.Render("~/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("RequireJS for .NET", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - <a href="http://www.stefanprodan.eu">Stefan Prodan's Tech Notes</a></p>
                </div>
            </div>
        </footer>
        @Html.Partial("_RequireSetup")
    </body>
</html>
